<!DOCTYPE html>
<html>
    <head>
        <title>Input</title>
    </head>
    <body>
        <form action="/run" method="post">
            <h3>Anagram-check words!</h3>
            <label for="word">Enter a word:</label>
            <input type="text" name="word" id="word">

            <label for="multiple">Enter potential anagrams:</label>
            <input type="text" name="multiple" id="multiple">

            <button type="submit" name="button">Check!</button>
        </form>


    </body>
</html>
