<!DOCTYPE html>
<html>
    <head>
        <title>Input</title>
    </head>
    <body>
        <h1>Check out your anagram!</h1>

        <ul>
            <li>{{ newword }}</li>
        </ul>
    </body>
</html>
